<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<title>Nichole Milan</title>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header></header>
    <div class="bg">
        <img src="./images/test.jpg" style="width:100%" alt text="photo">
    </div>
    <div class="bar">
            <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="mailto:nichole.milan@gmail.com">Contact Me</a></li>
                  </ul>
    </div>    
    <div class="ex1">
        <img class="nichole" src="./images/nichole.jpg" style="padding: 0 15px; float:left">
            <br>
                <p id="myP" style="cursor:crosshair;">If there is something you must know about me, it's my absolute love of learning things new. I grew up with a camera in my hands from when I was a
                    little tiny human, and would never put it down. I wanted to learn more, so I dove ( head first, might I add ) into the world of Graphic Design. After 
                    graphic gesign, I wanted to learn more about how programs ran, so here I am. <b>Java</b>. I thought to myself it was pure insanity to learn in about 4 months, but here I am.
                   </p>
                <br>
                <p id="myP" style="cursor:crosshair;">I was raised in a suburb of Columbus, OH, but currently planted in Westerville, OH. I am 35 years old, with three tiny sassy humans, two cute dogs, and 
                   a husband who shares his love of code with me. I am currently a streamer on Twitch and an avid lover of video games and photography. </p>
    <div class="tech">
                <p id="myP" style="cursor:crosshair;">Technological Inventory: Java • Spring • Hibernate • JPA • JavaScript • MVC • HTML • CSS • Flexbox • Grid • TDD • Agile (Scrum) • Object Oriented Programming (OOP) • AJAX • JSON • Restful APIs • Responsive Design / Mobile • Structured Query Language (SQL) • Relational Databases • Source Control / Git</p>
              </div>
              <div class="w3-content w3-section" style="max-width:500px">
                <p>Please see below for the last few projects I have worked on. To see my current and updated projects, please click on the github link below (takes about 10 seconds to change).</p>
              
                <img class="mySlides w3-animate-fading" src="./images/reviewsite.png" style="width:75%">
                <img class="mySlides w3-animate-fading" src="./images/virtualpetsamok.png" style="width:75%">
                <img class="mySlides w3-animate-fading" src="./images/virtualpetshelter.png" style="width:75%">
              </div>

<button class="collapsible">Review Site</button>
<div class="content">
  <p>I created a review site on MMO's for video games for this class project. This review site was done in Java, TDD, Spring Framework, Thymeleaf, and HTML.</p>
</div>
<button class="collapsible">Virtual Pets Amok</button>
<div class="content">
  <p>Virtual Pets Amok was a class project that was using the shell of the Virtual Pet Shelter, introduced robot pets with fuzzy pets. I used Java, TDD, Inheretance, Array List, and multiple class funtionality.</p>
</div>
<button class="collapsible">Virtual Pet Shelter</button>
<div class="content">
  <p>Virtual Pet Shelter was a class project that was creating a virtual pet shetler that housed multiple pets at once, and adopted pets out as well. This was created using Java, TDD, Array List, and Inheretance. </p>
</div>
  </div>
</div>
    <footer>
    <div class="networking">
            <div align="center">
                <a href="https://github.com/namilan">
              <img src="./images/github.png" style="padding: 0 25px; align:center" width="75" height="75"></a>
                  <a href="https://www.linkedin.com/in/nichole-milan-010776127">
              <img src="./images/linked.png" style="padding: 0 60px; align:center" width="75" height="75"></a>
                  <a href="https://www.instagram.com/hellonikkim">
              <img src="./images/insta.png" style="padding: 0 25px; align:center" width="75" height="75"></a>  
              <a href="mailto:nichole.milan@gmail.com">
              <img src="./images/email.png" style="padding: 0 25px; align:center" width="75" height="75"></a>       
          </div>       
    </div>
</p>
    <script src="./js/app.js"></script>
    </footer>
</body>
</html>

